{erl_opts, [warnings_as_errors, debug_info]}.
{deps, [
        {poolboy, {git, "git://github.com/devinus/poolboy.git", {tag, "1.4.2"}}}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
