{erl_opts, [warnings_as_errors, debug_info]}.
{deps, [
        {sidejob, {git, "git://github.com/basho/sidejob.git", {branch, "master"}}}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
